@import "tailwindcss";

@theme {
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #0A0A0E;
  --color-white: #FFFFFF;
  
  --color-blue: #1654FF;
  --color-blue-light: #3A7BFF;
  --color-blue-dark: #0B2D80;
  
  --color-zinc-900: #111116;
  --color-zinc-800: #181820;
  --color-zinc-500: #71717A;
  --color-zinc-400: #A1A1AA;

  --font-serif: var(--font-playfair);
  --font-sans: var(--font-bebas);
  --font-body: var(--font-playfair);
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-body);
}
